<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.AdminMapper">
	
	<!-- 금칙어 전체 조회 -->
	<select id="filterList" resultType="Filter">
		SELECT ROWNUM FIL_NO, F.* 
		FROM FILTER F
		ORDER BY 1
	</select> 
	
	<!-- 개인회원 조회 -->
	<select id="memberList" resultType="Member">
		SELECT ROWNUM MEM_NO, M.* 
		FROM MEMBER M 
		ORDER BY 5 DESC
	</select> 
	
	<!-- 기업회원 조회 -->
	<select id="companyList" resultType="Company">
		SELECT ROWNUM COM_NO, C.* 
		FROM COMPANY C 
		ORDER BY 11 DESC
	</select> 
	
	
	<!-- 금칙어 등록 -->
	<insert id="filterAdd" parameterType="Filter">
		INSERT INTO FILTER(FIL_ALTERNATIVE, FIL_PROHIBITED ) 
		VALUES( #{fil_prohibited} , #{fil_alternative} )
	</insert> 
	
	
	<!-- 금칙어 (수정) 조회 -->
	<select id="filterSel" resultType="int">
		select COUNT(*) from filter 
		where FIL_PROHIBITED = #{fil_prohibited}
	</select> 
	
	<!-- 수정 -->
	<update id="filterUpdate" parameterType="Filter" >
		UPDATE FILTER SET 
		FIL_ALTERNATIVE = #{fil_alternative}
		WHERE FIL_PROHIBITED = #{fil_prohibited}
	
	</update>
	
	<!--금칙어 삭제 -->

	<delete id="filterDelete" >
		DELETE FILTER
		WHERE FIL_PROHIBITED IN
		<foreach collection="list" item="keyword" open="(" close=")" separator=",">
			#{keyword}
		</foreach>
	</delete>
	
</mapper>
