<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.AdminMapper">


	<!-- qna 리스트 -->
	<select id="qnaList" resultType="QnA" >
		SELECT Q.*, M.MEM_PHONE
		FROM QNA Q, MEMBER M
		WHERE Q.MEM_ID = M.MEM_ID
		ORDER BY Q_TIME DESC
	</select>
	
	<!-- qna 단건 -->
	<select id="qnaOne" resultType="QnA" parameterType="QnA">
		SELECT Q.*, M.MEM_PHONE
		FROM QNA Q, MEMBER M
		WHERE Q.MEM_ID = M.MEM_ID
		AND Q.Q_NO = #{q_no}
	</select>
	
	<!-- 답변 등록 -->
	<update id="answerUpdate" parameterType="QnA">
		UPDATE QNA 
		SET Q_ANSWER = #{q_answer} ,
		Q_ATIME = SYSDATE 
		WHERE Q_NO = #{q_no}
	</update>


	<!-- 금칙어 전체 조회 -->
	<select id="filterList" resultType="Filter" parameterType="Filter">
		SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
	 		SELECT ROWNUM FIL_NO, F.* FROM FILTER F ORDER BY FIL_PROHIBITED DESC
			 ) A ) B WHERE RN BETWEEN #{fil_first} AND #{fil_last}
	</select> 
	
	<!-- 금칙어 page -->
	<select id="filCount" resultType="int" >
		SELECT COUNT(*) FROM FILTER
	</select>
	
	
	
	<!-- 개인회원 조회 -->
	<select id="memberList" resultType="Member" parameterType="Member">
		<!-- SELECT ROW_NUMBER() OVER(ORDER BY  MEM_TIME DESC) MEM_NO, M.* 
		FROM MEMBER M 
		ORDER BY MEM_TIME DESC -->
		
		SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
	 		SELECT * FROM V_MEMLIST ORDER BY 1 
			 ) A ) B WHERE RN BETWEEN #{mem_first} AND #{mem_last}
			 
		
	</select> 
	
	<!-- 개인회원 page -->
	<select id="memCount" resultType="int" >
		SELECT COUNT(*) FROM V_MEMLIST
	</select>
	
	<!-- 기업회원 page -->
	<select id="comCount" resultType="int" >
		SELECT COUNT(*) FROM V_COMLIST
	</select>
	
	<!-- 기업회원 조회 -->
	<select id="companyList" resultType="Company" parameterType="Company">
		SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
	 		SELECT * FROM V_COMLIST ORDER BY 1 
			 ) A ) B WHERE RN BETWEEN #{com_first} AND #{com_last}
	</select> 
	
	
	<!-- 금칙어 등록 -->
	<insert id="filterAdd" parameterType="Filter">
		INSERT INTO FILTER(FIL_PROHIBITED , FIL_ALTERNATIVE ) 
		VALUES( #{fil_prohibited} , #{fil_alternative} )
	</insert> 
	
	
	<!-- 금칙어 (수정) 조회 -->
	<select id="filterSel" resultType="int">
		select COUNT(*) from filter 
		where FIL_PROHIBITED = #{fil_prohibited}
	</select> 
	
	<!-- 수정 -->
	<update id="filterUpdate" parameterType="Filter" >
		UPDATE FILTER SET 
		FIL_ALTERNATIVE = #{fil_alternative}
		WHERE FIL_PROHIBITED = #{fil_prohibited}
	
	</update>
	
	<!--금칙어 삭제 -->

	<delete id="filterDelete" >
		DELETE FILTER
		WHERE FIL_PROHIBITED IN
		<foreach collection="list" item="keyword" open="(" close=")" separator=",">
			#{keyword}
		</foreach>
	</delete>
	
</mapper>
