<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.AuditionMapper">
	<!-- 닉네임중복체크 -->
	<select id="nickCheck" parameterType="Trainee" resultType="int">
		SELECT COUNT(*)
		FROM TRAINEE
		WHERE TR_NAME=#{tr_name}
	</select>
	<!-- 연습생 전체 조회 -->
	<select id="selecttr" resultType="Trainee">
		SELECT * FROM TRAINEE
	</select>
	<!-- 연습생등록 -->
	<insert id="inserttr" parameterType="Trainee">
		INSERT INTO TRAINEE (
		MEM_ID,
		TR_NAME,
		TR_PIC,
		TR_CONTENT,
		TR_BRANCH1,
		TR_BRANCH2
		)
		VALUES(
		#{mem_id},
		#{tr_name},
		#{tr_pic},
		#{tr_content},
		#{tr_branch1},
		#{tr_branch2})
	</insert>

	<!-- 연습생 정보 수정하기 위한 select -->
	<select id="traineeUpdateselect" parameterType="Trainee"
		resultType="Trainee">
		SELECT *
		FROM TRAINEE
		WHERE MEM_ID=#{mem_id}
	</select>
	<!-- 연습생 수정 -->
	<update id="traineeUpdate" parameterType="Trainee">
		UPDATE TRAINEE SET TR_PIC=#{tr_pic},
		TR_NAME=#{tr_name},
		TR_BRANCH1=#{tr_branch1},
		TR_BRANCH2=#{tr_branch2},
		TR_CONTENT=#{tr_content}
		WHERE MEM_ID=#{mem_id}
	</update>

	<!-- 연습생활동 전체(최신순) 목록 -->
	<select id="selectac" resultType="Activity">
		SELECT * FROM ACTIVITY ORDER BY
		AC_TIME DESC
	</select>
	<!-- 연습생 활동 지원 글 등록 -->
	<insert id="insertac" parameterType="Activity">
		INSERT INTO ACTIVITY
		(
		AC_NO,
		AC_TITLE,
		AC_TIME,
		AC_CONTENT,
		AC_HITS,
		AC_LIKES,
		AC_FILE,
		MEM_ID
		)
		VALUES (
		SNS_AC_SEQ.NEXTVAL,
		#{ac_title},
		SYSDATE,
		#{ac_content},
		default,
		default,
		#{ac_file},
		#{mem_id})

	</insert>

	<!-- 연습생 활동 글 수정하기 위한 select -->
	<select id="activityUpdateselect" parameterType="Activity"
		resultType="Activity">
		SELECT *
		FROM ACTIVITY
		WHERE MEM_ID=#{mem_id}
	</select>


	<!-- 연습생 활동 지원 글 수정 -->
	<update id="activityUpdate" parameterType="Activity">
		UPDATE ACTIVITY SET
		AC_TITLE=#{ac_title},
		AC_CONTENT=#{ac_content},
		AC_FILE=#{ac_file}
		WHERE
		AC_NO=#{ac_no}
	</update>


	<!--연습생 활동 지원 글 삭제 -->
	<delete id="activityDelete" parameterType="Activity">
		DELETE FROM ACTIVITY
		WHERE AC_NO=#{ac_no}
	</delete>
	<!--상세프로필 -->
	<select id="activityDetail" parameterType="Activity"
		resultType="Activity">
		SELECT * FROM ACTIVITY
		WHERE MEM_ID=#{mem_id}
	</select>
	<!-- 오디션 공고 목록 -->
	<select id="auditionlist" parameterType="Aboard"
		resultType="Aboard">
		SELECT * FROM ABOARD
		ORDER BY ABO_NO DESC
	</select>
	<!-- 소속사별로 게시물 목록 조회 -->
	<!-- <select id="getComList" parameterType="Aboard" resultType="Aboard"> 
		SELECT * FROM ABOARD WHERE COM_ID=#{com_id} ORDER BY ABO_NO DESC </select> -->

	<!-- 오디션 목록 단건 조회 -->
	<select id="getAboardInfo" parameterType="Aboard"
		resultType="Aboard">
		SELECT *
		FROM ABOARD
		WHERE abo_no = #{abo_no}
	</select>

	<!-- 오디션 지원자 등록 -->
	<insert id="insertau" parameterType="Audition">
		INSERT INTO AUDITION
		(
		AUD_NO,
		AUD_TYPE,
		AUD_HOBBY,
		AUD_HEIGHT,
		AUD_WEIGHT,
		AUD_PIC,
		COM_ID,
		MEM_ID,
		ABO_NO,
		AUD_AGE,
		MEM_NAME
		)
		VALUES (
		AUD_SEQ.NEXTVAL,
		#{aud_type},
		#{aud_hobby},
		#{aud_height},
		#{aud_weight},
		#{aud_pic},
		#{com_id},
		#{mem_id},
		#{abo_no},
		#{aud_age},
		#{mem_name}
		)

	</insert>
	
	<!-- insert 하기 위한 select -->
	<select id="insertselect" parameterType="Aboard"
		resultType="Aboard">
		SELECT *
		FROM ABOARD
		WHERE abo_no = #{abo_no}
	</select>
	

	
	<!-- 최신순 -->
	<select id="selectnew" resultType="Activity">
		SELECT * FROM ACTIVITY ORDER
		BY AC_TIME DESC
	</select>

	<!-- 페이지네이션 -->
	<select id="getactivityCount" parameterType="Activity"
		resultType="int">
		SELECT COUNT(*)
		FROM ACTIVITY
		WHERE MEM_ID = #{mem_id}
	</select>

	<!-- 연습생활동 조회수 -->
	<update id="updateActivityhits" parameterType="Activity">
		UPDATE ACTIVITY 
		SET AC_HITS = AC_HITS+1 
		WHERE AC_NO=#{ac_no}
	</update>
</mapper>