<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.CompanyMapper">

<!-- 테스트-->
	<select id="getCompanyTest" parameterType="Company" resultType="Company">
		SELECT 
			com_name
		FROM 
			company
		WHERE
			com_id = #{com_id}
	</select>
	
	
<!-- 소속사 목록 출력-->
	<select id="getCompanyMinInfo" parameterType="Company" resultType="Company">
		SELECT 
			*
		FROM 
			company
	</select>
	
	
<!-- 소속사 정보 출력 -->	
	<select id="getCompanyInfo" parameterType="Company" resultType="Company">
		SELECT 
			* 
		FROM 
			company
		WHERE
			com_id = #{com_id}
	</select>
	
	
<!-- 소속사 소속의 스타 목록 출력 -->		
	<select id="getCompanyStarMin" parameterType="Star" resultType="Star">
		SELECT 
			* 
		FROM 
			star
		WHERE 
			com_id = #{com_id}
	</select>
	
	
</mapper>
