<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.FboardMapper">

	<insert id="insertFboard" parameterType="Fboard">
		INSERT INTO 
		fboard(	fbo_no, 
				fbo_title, 
				fbo_subject, 
				fbo_time, 
				fbo_content, 
				fbo_hashtag, 
				st_id, 
				mem_id,
				fbo_views
				) 
		VALUES(	bo_seq.NEXTVAL, 
				#{fbo_title}, 
				#{fbo_subject}, 
				SYSDATE, 
				#{fbo_content}, 
				#{fbo_hashtag}, 
				#{st_id}, 
				#{mem_id},
				0
				)
	</insert>
	
	<select id="getFboardList" parameterType="Fboard" resultType="Fboard">
		SELECT * 
		FROM v_fbolist 
		WHERE st_id = #{st_id}
	</select>
	
	<select id="getFboardInfo" parameterType="Fboard" resultType="Fboard">
		SELECT * 
		FROM v_fbolist 
		WHERE fbo_sub_no = #{fbo_sub_no} and st_id = #{st_id}
	</select>
	
	<update id="updateFboard" parameterType="Fboard">
		UPDATE fboard 
		SET 
			fbo_subject = #{fbo_subject}, 
			fbo_title = #{fbo_title}, 
			fbo_content = #{fbo_content}, 
			fbo_hashtag = #{fbo_hashtag} 
		WHERE fbo_no = #{fbo_no}
	</update>
	
	<update id="updateFboardViews" parameterType="Fboard">
		UPDATE fboard 
		SET fbo_views = fbo_views + 1 
		WHERE fbo_no = #{fbo_no}
	</update>
	
	<delete id="deleteFboard" parameterType="Fboard">
		DELETE FROM fboard 
		WHERE fbo_no = #{fbo_no}
	</delete>
</mapper>
