<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.FboardMapper">

	<!-- 전체조회 -->
	<select id="getFboardList" parameterType="Fboard" resultType="Fboard">
		SELECT * 
		FROM v_fbolist 
		WHERE st_id = #{st_id}				
	</select>
	
	<!-- 조회수 최고 5건 -->
	<select id="getFboardViewsList" parameterType="Fboard" resultType="Fboard">
		SELECT * 
		FROM (	SELECT fbo_sub_no, fan_name, fbo_no, fbo_title, fbo_subject, fbo_time, fbo_views, fbo_hashtag, st_id, mem_id
				FROM v_fboList
				WHERE st_id = #{st_id}
				ORDER BY fbo_views DESC
				) a
		WHERE ROWNUM &lt;= 5
	</select>
	
	<!-- 단건조회 -->
	<select id="getFboardInfo" parameterType="Fboard" resultType="Fboard">
		SELECT * 
		FROM v_fbolist 
		WHERE fbo_no = #{fbo_no}
	</select>
	
	<!-- 해시태그로 게시물 목록 조회 -->
	<select id="getFboardHashtagList" parameterType="Fboard" resultType="Fboard">
		SELECT * 
		FROM v_fbolist 
		WHERE st_id = #{st_id} 
			AND fbo_hashtag LIKE '%' || #{fbo_hashtag} || '%'
	</select>
	
	<!-- 말머리로 게시물 목록 조회 -->
	<select id="getFboardSubjectList" parameterType="Fboard" resultType="Fboard">
		SELECT * 
		FROM v_fbolist 
		WHERE st_id = #{st_id} 
		AND fbo_subject = #{fbo_subject}
	</select>
	
	<!-- 페이지네이션 -->
	<select id="getFboardCount" parameterType="Fboard" resultType="int">
		SELECT 	COUNT(*)
		FROM 	fboard
		WHERE 	st_id = #{st_id}
	</select>

	<!-- 게시물 입력 -->
	<insert id="insertFboard" parameterType="Fboard">
		INSERT INTO 
		fboard(	fbo_no, 
				fbo_title, 
				fbo_subject, 
				fbo_time, 
				fbo_content, 
				fbo_hashtag, 
				st_id, 
				mem_id,
				fbo_views
				) 
		VALUES(	bo_seq.NEXTVAL, 
				#{fbo_title}, 
				#{fbo_subject}, 
				SYSDATE, 
				#{fbo_content}, 
				#{fbo_hashtag}, 
				#{st_id}, 
				#{mem_id},
				0
				)
	</insert>
	
	<!-- 게시물 수정 -->
	<update id="updateFboard" parameterType="Fboard">
		UPDATE fboard 
		SET 
			fbo_subject = #{fbo_subject}, 
			fbo_title = #{fbo_title}, 
			fbo_content = #{fbo_content}, 
			fbo_hashtag = #{fbo_hashtag} 
		WHERE fbo_no = #{fbo_no}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="updateFboardViews" parameterType="Fboard">
		UPDATE fboard 
		SET fbo_views = fbo_views + 1 
		WHERE fbo_no = #{fbo_no}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="deleteFboard" parameterType="Fboard">
		DELETE FROM fboard 
		WHERE fbo_no = #{fbo_no}
	</delete>
	
	<insert id="insertfBoardNotify" parameterType="Notify">
		INSERT INTO notify(	nof_no,
							mem_id,
							fbo_no,
							nof_content,
							nof_type,
							com_id,
							st_id
							) 
					VALUES(	nof_seq.NEXTVAL,
							#{mem_id},
							#{fbo_no},
							#{nof_content},
							#{nof_type},
							#{com_id},
							#{st_id}
							)
	</insert>
</mapper>
