<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.MainMapper">
	<!-- 프사업뎃 -->
	<update id="mainUpdate">
		UPDATE MEMBER 
		SET MEM_PIC = #{mem_pic}
		WHERE MEM_ID = #{mem_id}
	</update>
	
	<!-- 행사목록 -->
	<select id="ticketList" resultType="Goods">
		<!-- SELECT S.ST_NAME, G.*  FROM STAR S , GOODS G WHERE S.ST_ID = G.ST_ID AND GO_TYPE = 'TICKET' AND GO_UNTSDATE >= SYSDATE -->
		SELECT S.ST_NAME, G.*  FROM STAR S , GOODS G WHERE S.ST_ID = G.ST_ID AND GO_TYPE = 'TICKET'
	</select>
	
	<!-- 팬클럽top3 -->
	<select id="fanCount" resultType="map">
		SELECT COUNT(F.ST_ID) AS CNT, S.ST_NAME 
		FROM FAN F, STAR S
		WHERE F.ST_ID = S.ST_ID 
		GROUP BY S.ST_NAME
		ORDER BY CNT DESC
	</select>
	
	<!-- 내스타 3 팬게시판 글이 있을 때-->
	<select id="myStar3" resultType="map">
		SELECT S.ST_ID, S.ST_NAME,S.ST_ICON ,COUNT(F.ST_ID) AS CNT
		FROM FBOARD F , STAR S
		WHERE F.ST_ID = S.ST_ID
		AND MEM_ID = #{id}
		GROUP BY S.ST_ID, S.ST_NAME,S.ST_ICON
		ORDER BY CNT DESC
	</select>
	
	<!-- 내스타 3 가입o , 게시글x  -->
	<select id="myStarList" resultType="map">
		SELECT S.ST_NAME, S.ST_ICON , S.ST_ID
		FROM FAN F , STAR S 
		WHERE F.ST_ID = S.ST_ID
		AND MEM_ID = #{id}
		ORDER BY FAN_NO
	</select>
	
	<!-- sns 실시간 띄우기 -->
	<select id="newSns" resultType="Sns" parameterType="string">
		SELECT S.*, M.MEM_PIC MEM_PIC, M.MEM_TYPE MEM_TYPE 
		FROM SNS S, MEMBER M 
		WHERE S.MEM_ID=M.MEM_ID
		AND SNS_TIME > TO_CHAR(SYSDATE,'YYYY-MM-DD')
		AND SNS_NO > #{maxNo}
		ORDER BY SNS_NO
	</select>
	
	<!-- sns 오늘날짜 데이터 뿌리기 -->
	<select id="todaySns" resultType="Sns">
		<!--SELECT S.*, M.MEM_PIC MEM_PIC, M.MEM_TYPE MEM_TYPE 
		FROM SNS S, MEMBER M 
		WHERE S.MEM_ID=M.MEM_ID 
		AND SNS_TIME > TO_CHAR(SYSDATE,'YYYY-MM-DD') 
		ORDER BY SNS_NO DESC-->
		SELECT ROW_NUMBER() OVER(ORDER BY  SNS_NO DESC) as no, S.*, M.MEM_PIC MEM_PIC, M.MEM_TYPE MEM_TYPE 
		FROM SNS S, MEMBER M 
		WHERE S.MEM_ID=M.MEM_ID
		
		
	</select>
	
	<!-- 검색1 스타 -->
	<select id="searchStar" resultType="Star" parameterType="string">
		SELECT * FROM STAR WHERE ST_NAME LIKE '%' ||  #{keyword} || '%' OR ST_ID LIKE '%' || #{keyword} || '%'

	</select>
	
	<!-- 검색2 소속사 -->
	<select id="searchCom" resultType="Company" parameterType="string">
		SELECT * FROM COMPANY 
		WHERE COM_NAME LIKE '%'|| #{keyword} || '%' OR COM_ID LIKE '%' || #{keyword} || '%'
		ORDER BY COM_TIME DESC

	</select>
	
	<!-- 검색 3 연습생 -->
	<select id="searchAc" resultType="map" parameterType="string">
		SELECT T.MEM_ID, M.MEM_NAME, T.TR_NAME, T.TR_PIC, T.TR_BRANCH1, T.TR_BRANCH2 
		FROM TRAINEE T, MEMBER M
		WHERE M.MEM_ID = T.MEM_ID
		AND T.TR_NAME LIKE '%'|| #{keyword} || '%'
		OR M.MEM_NAME LIKE '%'|| #{keyword} || '%'
		
		
	</select>
	
</mapper>
