<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.MainMapper">
	
	<select id="ticketList" resultType="Goods">
		<!-- SELECT S.ST_NAME, G.*  FROM STAR S , GOODS G WHERE S.ST_ID = G.ST_ID AND GO_TYPE = 'TICKET' AND GO_UNTSDATE >= SYSDATE -->
		SELECT S.ST_NAME, G.*  FROM STAR S , GOODS G WHERE S.ST_ID = G.ST_ID AND GO_TYPE = 'TICKET'
	</select>
	
	<select id="fanCount" resultType="map">
		SELECT COUNT(F.ST_ID) AS CNT, S.ST_NAME 
		FROM FAN F, STAR S
		WHERE F.ST_ID = S.ST_ID 
		GROUP BY S.ST_NAME
		ORDER BY CNT DESC
	</select>

</mapper>
