<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.MypageMapper">
	<!-- 메인페이지 스타 select -->
	<select id="starmainselect" resultType="star" parameterType="fan">
	SELECT 
		S.ST_NAME ST_NAME, 
		S.ST_ICON ST_ICON, 
		S.ST_PIC ST_PIC, 
		S.ST_BANNER ST_BANNER, 
		S.COM_ID COM_ID, 
		S.ST_INTRODUCE ST_INTRODUCE 
	FROM 
		FAN F, 
		STAR S 
	WHERE 
		F.ST_ID = S.ST_ID 
	AND F.MEM_ID = #{mem_id}
	
	</select>


















	<!-- 멤버 업데이트 -->
	<update id="memUpdate" parameterType="member">
		UPDATE MEMBER SET
		MEM_PW = #{mem_pw},
		MEM_PHONE = #{mem_phone},
		<if test="mem_pic!=null">
			MEM_PIC = #{mem_pic},
		</if>
		MEM_EMAIL = #{mem_email},
		MEM_ADDRESS = #{mem_address},
		MEM_ADDRESS2 =
		#{mem_address2},
		MEM_ZIPADDRESS = #{mem_zipAddress}
		WHERE MEM_ID =
		#{mem_id}
	</update>
	<!-- 쪽지보내기 -->
	<insert id="SendMail" parameterType="letter">
		INSERT INTO LETTER(
		LETT_NO,
		LETT_SID,
		MEM_ID,
		LETT_TIME,
		LETT_CONTENT,
		LETT_TITLE)
		VALUES (
		lett_seq.NEXTVAL,
		#{lett_sid},
		#{mem_id},
		SYSDATE,
		#{lett_content},
		#{lett_title})


	</insert>
	<!-- 쪽지 조회 -->
	<select id="selectMail" resultType="letter">
		SELECT * FROM ( SELECT A.*,
		ROWNUM RN FROM (
		SELECT * FROM LETTER Where mem_id = #{mem_id} ORDER BY
		lett_no DESC	
		) A ) B WHERE RN BETWEEN #{lett_first} AND #{lett_last}
	</select>
	<select id="selectmemberid" resultType="member">
	SELECT MEM_ID FROM MEMBER ORDER BY MEM_ID
	
	</select>
	<!-- 쪽지 페이지 네이션 -->
	<select id="getletterCount" resultType="int">
		SELECT COUNT(*)
		FROM
		LETTER
		WHERE MEM_ID = #{mem_id}
	</select>
	<!-- 쪽지단건조회 -->
	<select id="OneMailSelect" resultType="letter"
		parameterType="letter">
		SELECT * FROM LETTER WHERE LETT_NO=#{lett_no}

	</select>
	<!-- 쪽지 삭제 -->
	<delete id="deletemail" parameterType="letter">
		DELETE LETTER WHERE LETT_NO = #{lett_no}
	</delete>


	<!-- 1o1(QnA) -->
	<!-- QnA 보내기 -->
	<insert id="SendQnA" parameterType="qna">
		INSERT INTO QNA (Q_NO,
		MEM_ID, Q_TITLE, Q_CONTENT, Q_TIME) VALUES
		(Q_SEQ.NEXTVAL,
		#{mem_id},#{q_title},#{q_content},SYSDATE)
	</insert>
	<!-- QNA 조회 -->
	<select id="selectQnA" resultType="qna">
		SELECT * FROM ( SELECT A.*,
		ROWNUM RN FROM (
		SELECT * FROM QNA Where mem_id = #{mem_id} ORDER BY
		q_no
		) A ) B WHERE RN BETWEEN #{q_first} AND #{q_last}
	</select>
	<!-- QNA 페이지 네이션 -->
	<select id="getQnACount" resultType="int">
		SELECT COUNT(*)
		FROM
		QNA
		WHERE
		MEM_ID = #{mem_id}
	</select>
	<!-- QNA 단건조회 -->
	<select id="OneQnASelect" resultType="qna" parameterType="qna">
		SELECT
		* FROM QNA WHERE Q_NO=#{q_no}

	</select>
<!-- QnA 삭제 -->
	<delete id="deleteqna" parameterType="qna">
		DELETE QNA WHERE Q_NO = #{q_no}
	</delete>
	
	
<!-- 	Mystar 3명 select 아지기  -->
	<select id="myStarList" resultType="map">
		SELECT S.ST_NAME, S.ST_ICON 
		FROM FAN F , STAR S 
		WHERE F.ST_ID = S.ST_ID
		AND MEM_ID = #{id}
		ORDER BY FAN_NO
	</select>
	<!-- Mystar 다 가져오기 페이지 네이션 넣어? -->
	<select id="selectStar" resultType="star">
	SELECT * FROM ( SELECT A.*,
		ROWNUM RN FROM (
		SELECT S.ST_ID ST_ID, S.ST_NAME ST_NAME, S.ST_ICON ST_ICON, S.ST_PIC ST_PIC, S.ST_BANNER, S.COM_ID COM_ID, F.MEM_ID MEM_ID FROM STAR S , FAN F WHERE S.ST_ID= F.ST_ID AND F.MEM_ID = #{mem_id} ORDER BY
		ST_NAME
		) A ) B WHERE RN BETWEEN #{st_first} AND #{st_last}	
	</select>
	
	<select id="selectAllStarpag" resultType="int">
		  SELECT COUNT(*)
		FROM
		STAR s, fan f
		WHERE s.st_id = f.st_id and f.mem_id = #{mem_id}
	</select>
	
	<!-- 멤버 탈퇴 -->
	<delete id="deleteMember" parameterType="Member">
		DELETE FROM MEMBER
		WHERE MEM_ID = #{mem_id}
	</delete>
</mapper>