<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.SboardMapper">

	<!-- 전체조회 -->
	<select id="getSboardList" parameterType="Sboard" resultType="Sboard">
		SELECT * 
		FROM (
		SELECT 
			ROW_NUMBER() OVER(PARTITION BY st_id ORDER BY sbo_no desc) sbo_re_no, s.*
		    FROM sboard s)
		WHERE (sbo_re_no BETWEEN #{sbo_first} AND #{sbo_last})
			AND st_id = #{st_id}
		ORDER BY sbo_re_no
	</select>
	
	<!-- 단건조회 -->
	<select id="getSboardInfo" parameterType="Sboard" resultType="Sboard">
		SELECT * 
		FROM sboard
		WHERE sbo_no = #{sbo_no}
	</select>
	
	<!-- 해시태그로 게시물 목록 조회 -->
	<select id="getSboardHashtagList" parameterType="Sboard" resultType="Sboard">
		SELECT * 
		FROM sboard
		WHERE st_id = #{st_id} and sbo_hashtag like '%' || #{sbo_hashtag} || '%'
	</select>
	
	<!-- 페이지네이션 -->
	<select id="getSboardCount" parameterType="Sboard" resultType="int">
		SELECT 	COUNT(*)
		FROM 	sboard
		WHERE 	st_id = #{st_id}
	</select>

	<!-- 게시물 입력 -->
	<insert id="insertSboard" parameterType="Sboard">
		INSERT INTO 
		sboard(	sbo_no, 
				sbo_title, 
				st_id, 
				sbo_time, 
				sbo_content
				<if test="sbo_hashtag != null">, sbo_hashtag</if>
				) 
		VALUES(	bo_seq.NEXTVAL, 
				#{sbo_title}, 
				#{st_id}, 
				SYSDATE, 
				#{sbo_content}
				<if test="sbo_hashtag != null">, #{sbo_hashtag}</if>
				)
	</insert>
	
	<!-- 게시물 수정 -->
	<update id="updateSboard" parameterType="Sboard">
		UPDATE Sboard 
		SET sbo_title = #{sbo_title}, 
			sbo_content = #{sbo_content}, 
			sbo_hashtag = #{sbo_hashtag} 
		WHERE sbo_no = #{sbo_no}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="deleteSboard" parameterType="Sboard">
		DELETE FROM sboard 
		WHERE sbo_no = #{sbo_no}
	</delete>
</mapper>
