<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.SnsMapper">
	<!-- SNS 글 등록 -->
	<insert id="insertSns" parameterType="Sns">
		INSERT INTO SNS (
		sns_no,
		sns_time,
		sns_content,
		sns_title,
		mem_id,
		sns_pic

		)
		VALUES(
		sns_ac_seq.NEXTVAL,
		SYSDATE,
		#{sns_content},
		#{sns_title},
		#{mem_id},
		#{sns_pic})

	</insert>
	<!-- SNS 전체조회하기 -->
	<!-- SNS 글조회 -->
	<select id="selectSns" resultType="Sns">
		SELECT * FROM SELECTALLSNS ORDER BY SNS_NO DESC
	</select>
	
	
	<!-- SNS 글조회 -->
	<select id="loginselectSns" resultType="Sns">
		SELECT 	
			DISTINCT S.* ,
		(CASE 
			WHEN l.MEM_ID = #{mem_id} or s.mem_id = #{mem_id} THEN 'Y'
			WHEN l.MEM_ID != #{mem_id} and s.mem_id != #{mem_id} THEN 'N'
		END) AS LIK
		FROM 
    		SELECTALLSNS S 
		LEFT OUTER JOIN
    		SLIKEIT L 
		ON 
    		S.SNS_NO = L.SNS_AC_NO AND l.mem_id = #{mem_id}
		ORDER BY 
			SNS_NO DESC
	</select>
	
	<!-- 내 SNS 카운트 -->
	<select id="countMySns" resultType="int">
		select count(*) from selectallsns where mem_id = #{mem_id}
	</select>
	<!-- 내가 올린 SNS 좋아요 Count -->	
	<select id="countSnsLike" resultType="int">
		SELECT COUNT(*) FROM SELECTALLSNS S, SLIKEIT L WHERE S.SNS_NO = L.SNS_AC_NO AND S.MEM_ID = #{mem_id}
	</select>
	<!-- SNS 좋아요 아이디, 번호 조회 -->
	<select id="selectSnsLike" resultType="Sns">
	SELECT 
		* 
	FROM 
		SLIKEIT 
		</select>
	
	<!-- SNS 삭제 -->
	<delete id="deleteSns" parameterType="Sns">
	DELETE FROM SNS WHERE SNS_NO = #{sns_no}
	
	
	</delete>
	
	
	
	<!-- 사진 조회 -->
	<select id="selectMySns" resultType="Sns">
		SELECT SNS_PIC FROM SNS WHERE MEM_ID = #{mem_id} order by sns_no desc
	</select>
	<!-- SNS 단건조회 -->
	<select id="OneSnsSelect" resultType="sns">
		SELECT * FROM SNS WHERE SNS_NO = #{sns_no}
	</select>
	<!-- 쪽지 갯수조회 -->
	<select id="countMyLetter" resultType="int">
		SELECT COUNT(*) FROM Letter where MEM_ID = #{mem_id}
	</select>
	<select id="OneMemberSelect" resultType="sns">
		SELECT
		M.MEM_ID MEM_ID,
		M.MEM_TIME,
		M.MEM_PIC,
		M.MEM_TYPE,
		SUM(S.SNS_LIKES) SNS_LIKES,
		COUNT(S.SNS_NO) SNS_NO

		FROM
		SNS S,
		MEMBER M
		WHERE
		M.MEM_ID = #{mem_id}
		AND S.MEM_ID(+) = M.MEM_ID
		GROUP BY
		M.MEM_ID ,
		M.MEM_TIME,
		M.MEM_TYPE,
		M.MEM_PIC

	</select>
<!-- 	SNS 조회 페이지네이션 -->
	<select id="myPostList" resultType="sns">
		SELECT * FROM ( SELECT A.*,
		ROWNUM RN FROM (
		SELECT
		S.*,
		M.MEM_PIC,
		M.MEM_TYPE
		FROM
		SNS S,
		MEMBER M
		WHERE
		S.MEM_ID = #{mem_id}
		AND S.MEM_ID = M.MEM_ID ORDER BY
		SNS_NO DESC
		) A ) B WHERE RN BETWEEN #{sns_first} AND #{sns_last}
	</select>
	<!-- SNS 페이지 네이션 -->
	<select id="getsnsCount" resultType="int">
		SELECT COUNT(*)
		FROM
		SNS
		WHERE MEM_ID = #{mem_id}
	</select>

<!-- SNS 댓글 인서트하기 -->
	<insert id="insertSre" parameterType="Sreply">
	INSERT INTO SREPLY 
	VALUES 
		(SRE_SEQ.NEXTVAL, 
		SYSDATE, 
		#{sre_content}, 
		#{sns_no}, 
		#{mem_id})
	</insert>
<!-- 	SNS 댓글 불러오기 -->
	<select id="selectSre" parameterType="Sreply" resultType="Sreply">
		SELECT * 
		FROM SREPLY
		WHERE SNS_NO = #{sns_no} ORDER BY SRE_TIME
	</select>

<!-- 좋아요 인서트 -->
	<insert id="insertLike" parameterType="Sns">
	INSERT INTO SLIKEIT (SNS_AC_NO, MEM_ID)
	VALUES (#{sns_ac_no}, #{mem_id})
	
	
	</insert>
<!-- 좋아요 지우기 -->
	<delete id="deleteLike" parameterType="Sns">
	DELETE FROM SLIKEIT WHERE SNS_AC_NO = #{sns_ac_no} AND MEM_ID = #{mem_id}
	</delete>




</mapper>