<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.SnsMapper">
<!-- SNS 글자 등록 -->
<insert id="insertSns" parameterType="Sns">
INSERT INTO SNS (	
								sns_no, 
								sns_time,
								sns_content,
								sns_title,
								mem_id,
								sns_pic
							
								)
	 	                VALUES(
	 	               			sns_ac_seq.NEXTVAL,
	 	              			SYSDATE,
	 	               			#{sns_content},
	 	               			#{sns_title},
	 	               			#{mem_id},
	 	               			#{sns_pic})

</insert>
<select id="selectSns" resultType="Sns">
select s.*, m.mem_pic mem_pic, m.mem_type mem_type from sns s, member m where s.mem_id=m.mem_id order by sns_no desc



</select>
<select id="selectMySns" resultType="Sns">
SELECT SNS_PIC FROM SNS WHERE MEM_ID = #{mem_id} order by sns_no desc
</select>
<select id="countMySns" resultType="int">
SELECT COUNT(*) FROM SNS where MEM_ID = #{mem_id}
</select>
<!-- SNS 단건조회 -->
<select id="OneSnsSelect" resultType="sns" >
SELECT * FROM SNS WHERE SNS_NO = #{sns_no}

</select>

</mapper>