<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.SnsMapper">
<!-- SNS 글자 등록 -->
<insert id="insertSns" parameterType="Sns">
INSERT INTO SNS (	
								sns_no, 
								sns_time,
								sns_content,
								sns_title,
								mem_id
								)
	 	                VALUES(
	 	               			sns_ac_seq.NEXTVAL,
	 	              			SYSDATE,
	 	               			#{sns_content},
	 	               			#{sns_title},
	 	               			#{mem_id})

</insert>
<select id="selectSns" resultType="Sns">
SELECT * FROM SNS order by sns_no desc



</select>
<select id="selectMySns" resultType="mySns">
SELECT SNS_IMG FROM SNS WHERE MEM_ID = #{mem_id} order by sns_no desc
</select>



</mapper>