<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.StarMapper">
	
	<!-- 스타 정보 출력 -->	
	<select id="getStarMain" parameterType="Star" resultType="Star">
		SELECT * 
		FROM star
		WHERE st_id = #{st_id}
	</select>
	
	<!-- 스타 아이디로 소속사 정보 검색 -->
	<select id="getProfileCompany" parameterType="Company" resultType="Company">
		SELECT * 
		FROM company 
		WHERE com_id = #{com_id}
	</select>
	
	<!-- 팬 숫자 -->
	<select id="getCountFan" parameterType="Star" resultType="int">
		SELECT count(fan_name) as count
		FROM fan 
		WHERE st_id = #{st_id}
	</select>
	
	<!-- 팬 게시물 숫자 -->
	<select id="getCountFboard" parameterType="Star" resultType="int">
		SELECT count(fbo_no) as count
		FROM fboard 
		WHERE st_id= #{st_id}
	</select>
	
	<!-- 댓글 숫자 -->
	<select id="getCountReply" parameterType="Star" resultType="int">
		SELECT count(re_no) as fan_number 
		FROM v_relist 
		WHERE fbo_st_id = #{st_id}
	</select>
	
	<!-- 스타게시물 숫자 -->
	<select id="getCountSboard" parameterType="Star" resultType="int">
		SELECT count(sbo_no) as count
		FROM sboard 
		WHERE st_id = #{st_id}
	</select>

	<!-- 스타채널 팬가입 여부 확인 -->
	<select id="getFanInfo" parameterType="Fan" resultType="Fan">
		SELECT * 
		FROM fan 
		WHERE mem_id = #{mem_id} AND ST_ID = #{st_id}
	</select>
	
	<!-- 스타채널 가입 -->
	<insert id="insertFan" parameterType="Fan">
		INSERT INTO fan(fan_no, 
						mem_id, 
						st_id, 
						fan_name,
						fan_block
						) 
				VALUES (fa_seq.NEXTVAL, 
						#{mem_id}, 
						#{st_id}, 
						#{fan_name},
						0
						)
	</insert>
	
	<!-- 스타 작품 정보 리스트 출력 -->	
	<select id="getStarArtList" parameterType="Art" resultType="Art">
		SELECT * 
		FROM art
		WHERE st_id = #{st_id}
	</select>
	
	<!-- 스타 팬 게시판 사진만 출력-->	
	<select id="getFboardPicList" parameterType="Fboard" resultType="Fboard">
		SELECT * 
		FROM v_fbolist 
		WHERE LENGTH(fbo_content) > 1000
	</select>
</mapper>
