<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.StarMapper">
	
	<!-- 스타 정보 출력 -->	
	<select id="getStarMain" parameterType="Star" resultType="Star">
		SELECT * 
		FROM star
		WHERE st_id = #{st_id}
	</select>
	
	<!-- 스타채널 팬가입 여부 확인 -->
	<select id="getFanInfo" parameterType="Fan" resultType="Fan">
		SELECT * 
		FROM fan 
		WHERE mem_id = #{mem_id} AND ST_ID = #{st_id}
	</select>
	
	<!-- 스타채널 가입 -->
	<insert id="insertFan" parameterType="Fan">
		INSERT INTO fan(fan_no, 
						mem_id, 
						st_id, 
						fan_name,
						fan_block
						) 
				VALUES (fa_seq.NEXTVAL, 
						#{mem_id}, 
						#{st_id}, 
						#{fan_name},
						0
						)
	</insert>
</mapper>
