<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.fandemic.impl.UntactMapper">

	<!--전체 리스트 -->
	<select id="untactList" resultType="map" parameterType="Untact">
		SELECT * FROM ( SELECT A.*, ROWNUM RN FROM (
	 		SELECT * FROM V_UNTACT 
			 ) A ) B WHERE RN BETWEEN #{u_first} AND #{u_last}
	</select>	
	
	<!-- 전체리스트 페이징 -->
	<select id="unCnt" resultType="int">
		SELECT COUNT(*) FROM V_UNTACT
	</select>

	<!--커밍순 -->
	<select id="comingsoonList" resultType="map">
		SELECT S.ST_NAME, G.GO_PIC, TO_CHAR(G.GO_UNTEDATE, 'YYYY-MM-DD') AS GO_UNTEDATE
		FROM GOODS G, STAR S
		WHERE G.ST_ID = S.ST_ID
		AND G.GO_UNTEDATE >= SYSDATE
	</select>
	
</mapper>
