@charset "UTF-8";

.companyBannerImg {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%,
		rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%,
		rgba(255, 255, 255, 0.75) 75%, rgba(255, 255, 255, 1) 100%),
		url('../images/company/company_main.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
}

.companyContainer {
	opacity: 0.99;
	margin: 1px;
	padding : 10px;
	text-align: center;
	background-color: white;
	background-size: contain;
	box-shadow: 1px 1px 1px 1px #f0f0f0 ;
}

.companyMinBanner {
	opacity: 0.6;
	background-size: contain;
	background-repeat: no-repeat;
}

.companyMinButton{
	margin: 10px;
}

.companySector{
	height: 30%
}